/* soft reset do CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(27, 45, 202), rgb(77, 87, 179));
    background-size: auto 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    font-size: 12px;
}


/* se a tela tiver pelo menos 400px vai carregar estes estilos */

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}


/* breakpoint */

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}


/* breakpoint */

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: rgb(4, 11, 119);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
    text-shadow: 1.8px 1px;
}

.site-subtitle {
    font-style: italic;
}

p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 180px;
}